padding: 0;
margin: 0 auto;

display: flex;
flex: 1;

vertical-align: middle;
text-align: center;

align-content: center;
align-items: center;
align-self: center;

justify-content: center;
justify-items: center;
justify-self: center;
